.animated {
	-webkit-animation-duration: 1s;
		 -moz-animation-duration: 1s;
			 -o-animation-duration: 1s;
					animation-duration: 1s;
	-webkit-animation-fill-mode: both;
		 -moz-animation-fill-mode: both;
			 -o-animation-fill-mode: both;
					animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
		 -moz-animation-duration: 2s;
			 -o-animation-duration: 2s;
					animation-duration: 2s;
}

@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}


html,
body {
	height: 100%;
}

body {
	background: #FAFAFA;
	color: #444;
	font-family: Lato, 'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
}

h1 {
	font-size: 70px;
	line-height: 1;
	font-weight: 400;
	padding-top: 10px;
}

h2 {
	font-size: 40px;
	font-weight: 300;
	text-indent: 2px;
}

hr {
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed white;
}

a {
	color: #228EC3;
}

.promo {
	margin-top: 20px;
}

.container {
	padding: 0 10px;
}

.main p {
	text-align: center;
}

.search {
	width: 220px;
}

.table caption {
	margin-bottom: 15px;
}

.table th {
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#components h4 {
	text-align: center;
}

#components dd p,
#components .description p {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#components .name {
	max-width: 180px;
	word-wrap: break-word;
}

#components .description p {
	/* prevent text breakout */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

#components dd p {
	-webkit-line-clamp: 1;
}

#components .created,
#components .updated {
	white-space: pre;
}

.table th:hover {
	text-decoration: underline;
}

.table td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.table td:first-child {
	font-size: 18px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -400px;
}

.push,
.credit {
	height: 400px;
}

.credit {
	text-align: center;
	padding-bottom: 40px;
	color: #fff;
	background-color: #151515;
	position: relative;
	top: 20px;
}

.credit .about {
	margin: 40px auto;
	color: #ECECEC;
	font-size: 28px;
	line-height: 1.2;
	max-width: 660px;
	font-weight: 300;
}

.profile {
	position: relative;
}

.profile .name {
	font-size: 70px;
	font-weight: 300;
	position: absolute;
	top: 70px;
	width: 100%;
}

.profile .name span {
	margin: 0 40px;
	opacity: 0;
	transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
}

.credit:hover .name span {
	opacity: 1;
}
.credit:hover .name span:first-child {
	padding-left: 10px;
	margin-right: 110px;
}

.credit:hover .name span:last-child {
	margin-left: 110px;
}

.profile img {
	margin-right: 3px;
	margin-bottom: 15px;
	border-radius: 150px;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.message {
	text-align: center;
}

@media (max-width: 979px) {
	h1 {
		font-size: 60px;
		padding: 0;
	}

	h2 {
		font-size: 33px;
	}

	.table th[data-sort='owner'],
	.table td.owner {
		display: none;
	}
}

@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}

	h1 {
		font-size: 50px;
		padding: 0 100px 0 0;
	}

	h2 {
		font-size: 20px;
		line-height: 1.2;
	}

	.table th[data-sort='created'],
	.table td.created,
	.table th[data-sort='updated'],
	.table td.updated {
		display: none;
	}

	.profile .name span {
		display: none;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 43px;
	}

	h2 {
		font-size: 15px;
		line-height: 1.2;
	}

	input[type='search'] {
		font-size: 16px;
	}

	.table {
		width: auto;
	}

	.table th:first-child,
	.table td:first-child {
		padding-left: 10px;
	}

	.table th[data-sort='forks'],
	.table td.forks,
	.table th[data-sort='stars'],
	.table td.stars {
		display: none;
	}

	#components .name {
		max-width: 100px;
	}

	.credit .about {
		font-size: 18px;
	}
}

/* extend Bootstrap */
.pagination ul > li > div {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
}

.pagination ul > li > a {
	cursor: default;
}
